<div id="app" v-cloak>
  <h2>Filter</h2>
  <div v-for="(tag, index) in tags" :key="tag.id">
    <input type="checkbox" :id="tag.id" :value="tag.name">
    <label :for="tag.id">[[ tag.name ]]</label>
  </div>
</div>
